body{
    background-color: rgb(27, 26, 26);
    color: white;
}

#container-img-ampliada{
    position: absolute;
    z-index: 1;
    background-color: rgb(27, 26, 26);
    opacity: 0.97;
    width: 100%;
    height: 100%;
}

#container-img{
    width: fit-content;
    height: fit-content;
}

.ampliar-img img:hover{
    cursor: zoom-in;
}

#container-img-ampliada:hover{
    cursor: zoom-out;
}

.form-control:focus{
    box-shadow: none;
    border: 3px solid rgb(25, 135, 84);
}

@media (max-width: 767px){
    .img-card{
        width: 100%;
    }
}